<!DOCTYPE html>


<html>

    <head>

        <title>TamataSpiru</title>

        <style>

            a {text-decoration: none; color: black;}

        </style>

    </head>


    <body>

        <h3>DashBoard integration ( with KIBANA )</h3>
        <iframe src="https://search-mosquitto-k34joo6mwdg7ynzkts6epsxuqy.eu-west-1.es.amazonaws.com/_plugin/kibana/?embed&#/dashboard/Tamata-Spiru-DashBoard?_a=(filters:!(),panels:!((col:1,id:Tamata-Color,row:4,size_x:4,size_y:3,type:visualization),(col:1,id:Tamata_Temp,row:1,size_x:5,size_y:3,type:visualization),(col:9,id:Tamata-Atmospheric-Pressure,row:1,size_x:3,size_y:3,type:visualization),(col:6,id:Tamata-Humidity-ampersand-Moisture,row:1,size_x:3,size_y:3,type:visualization),(col:8,id:Tamata-Light-Conditions,row:4,size_x:4,size_y:3,type:visualization),(col:5,id:Tamata-UV,row:4,size_x:3,size_y:3,type:visualization)),query:(query_string:(analyze_wildcard:!t,query:'id%3D!'TamataSpiru!'')),title:'Tamata%20Spiru%20DashBoard')&_g=(refreshInterval:(display:Off,pause:!f,section:0,value:0),time:(from:now%2Fd,mode:quick,to:now%2Fd))" height="800" width="1024"></iframe>
        </ul>
</br>
<a href="http://172.16.10.125:8080" onclick="http://172.16.10.125:8080" >Accueil - TamataSpiru</a> 
      

    </body>

</html>
