<!DOCTYPE html>

<html>
    <head>
        <title>TamataSpiru</title>
        <style>
            a {text-decoration: none; color: black;}
        </style>
    </head>
	
    <body>

        <h1>Sensors Capture in realTime : </h1>
		<ul>
			<li><a href="/dashboard">Dashboard</a></li>
			<li><a href="/configuration">Configuration</a></li>
			<li><a href="/alerts">Alerts</a></li>
        </ul>

        
    </body>

</html>
